body {
    font: 11px normal Arial,Verdana,Sans-serif;
    text-align: left;
}
 #main { 
	width:1300px; margin: 0px auto; -moz-border-radius:10px; padding:20px;}

.pheader{
    background-color: #FFF;
    margin: 0 auto;
    text-align: center;
    padding: 8px 0;
    font-size: 1.65em;
    font-weight: normal;
    min-width: 900px;
    width: 90%;
    overflow: auto;
    color: #333399;
}

legend {
    background-color: #FFF;
    margin: 0 auto;
    text-align: center;
    padding: 8px 0;
    font-size: 1.65em;
    font-weight: normal;
    min-width: 758px;
    width: 90%;
    overflow: auto;
    color: #333399;
}

#container {
    width: 925;
    margin: 0 auto;
}

fieldset {
	border:none;
	width: 925;
    margin: 0 auto;
}

.required{
	color: red;
}

.justify13 {
    text-align: justify;
    font-size: 13px;
}

.padTop10 {
    padding-top: 10px;
}

.padBottom10 {
    padding-bottom: 10px;
}

.padTop20 {
    padding-top: 20px;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.w200 {
    width: 200px;
}

form {
    margin-top: 2px;
    margin-bottom: 2px;
}

table{
	border: 1px;
}

.label {
    font: bold 12px Arial, Verdana, Sans-serif;
}

.imgSize25 {
	width: 25px;
}

.imgSize50 {
	width: 50px;
}

.collapse {
	border-collapse: collapse;
}

th {
	padding: 5px;
	text-align: center;
}

td {
	padding: 5px;
}

.width25 {
	width: 25%;
}

.width22 {
	width: 22%;
}

.width20 {
	width: 20%;
}

.width10 {
	width: 10%;
}

.width15 {
	width: 15%;
}

.width80 {
	width: 80%;
}

.width70 {
	width: 70%;
}

.width5 {
	width: 5%;
}

.width8 {
	width: 8%;
}

.width7 {
	width: 7%;
}

.center {
    display: block;
    text-align: -webkit-center;
}

.hide{
	visibility: hidden;
}

.hide-collapse{
	display: none;
}

.overflow-hidden{
	overflow:hidden;
}

.top{
	vertical-align: top;
}

.backgroundLightSteelBlue{
	background-color: LightSteelBlue;
}

#steps { 
	list-style:none; 
	width:100%; 
	overflow:hidden; 
	margin:0px; 
	padding:0px;
}

.prev, .next { 
	background-color:#b0232a; 
	padding:5px 10px; 
	color:#fff; 
	text-decoration:none;
	margin: 5px;
	float:left;
}

.prev:hover, .next:hover { 
	background-color:#000; 
	text-decoration:none;
}

img.selected{
	color:white;
	z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 5px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 10px 10px 10px;
}

.messagepop p, {
  margin: 5px 0;
}

.autooverflow{
	overflow: auto;
}

.vbottom{
	left: 0;
    bottom: 15px;
    position: absolute;
}

.relativeposition{
	position: relative;
}

.margin3top{
	margin-top: 3px;
}

.margin3bottom{
	margin-bottom: 3px;
}